.navbar {
    background-color: #333;
    padding: 12px 6px;
  }
  
  .navbar .navLinks {
    max-width: 500px !important;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
  
  .navbar .navLinks li a {
    padding: 4px 2px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    justify-content: center;
    display: flex;
   
  }
  main{
    text-align: center
  }
  .table-container {
    width: 100%;
    display: flex;
    justify-content: center; 
  }
  
  html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1,
h2 {
    color: darkred;
}

h3, 
p,
li {
    color: green;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: beige;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 100%;
    height: auto;
    background-color: white;
}

#banner img {
    width: 60%;
    height: auto;
}

.service {
    display: inline-block;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}

#logo-container {
  width: 20%;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.content {
    text-align: left;
    
  }
  .links {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 30%;
    
  }
  
  .foot{
    text-align: center;
  }
  .information {
    text-align: center;
   
  }
  .TablePhoto {
    width: 60%;
  margin: 0 auto;
  padding: 20px;
  align-items: left;
  }
  .heroContainer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://www.foodandwine.com/thmb/r8fdcpapm4PFEzokDlMePDBmnwM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Why-Do-All-Thai-Restaurants-Feel-The-Same-FT-BLOG0123-c5531ddd6a8d4bb889956920d0c09be9.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    padding: 60px 15px 100px;
    background-attachment: fixed;
  }
  
  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo{
    width: 50%;
  }
  .footer {
    background-color: #333;
    padding: 30px 15px;
  }
  
  .footer .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  
  .footer .socialMedia a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #fffffd;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
  
  .footer .socialMedia img {
    width: 20px;
    height: 20px;
  }
  
  .footer p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: white;
  }
  